<header>
  <div class="container">
    <div class="logo-box">
        <img id="logo" src="assets/image/logo.png" style="height:30%;width:30%;position: relative;">
    </div>
    <div >
    <ul>
      <li>         
        <a style="color:darkslateblue" class="nav-link" routerLink="/medicaments">Consulter Liste Medicaments</a>     
      </li>  
      <li>         
        <a style="color:darkslateblue" class="nav-link" routerLink="/listOrd">Consulter Ordonnances</a>     
      </li>    
      <li>         
        <a style="color:darkslateblue" class="nav-link" routerLink="/ordonnance">Ajouter Ordonnance</a>     
      </li>     
      <li>         
        <a style="color:darkslateblue" class="nav-link" routerLink="/home">Contact</a>     
      </li> 
   </ul>
  </div>
  </div>
</header>

  
  
    