

		<div class="wrapper d-flex align-items-stretch test">
			<nav id="sidebar">
				<div class="p-4 pt-5">
          <img alt="imageUser" class="img logo rounded-circle mb-5">
          <div class="type">Utilisateur</div>
	        <ul class="list-unstyled components mb-5">
	          <li>
	            <a data-toggle="collapse" aria-expanded="false">
                    <i class="fa-solid fa-address-card" routerLinkActive="actif"></i>    Profil
                    <i id="fleche" class="fa-solid fa-angle-right"></i>
              </a>
	          </li>
	          <li>
              <a data-toggle="collapse" aria-expanded="false">
                <i class="fa-solid fa-folder-plus" routerLinkActive="actif"></i>  Mes médicaments
                <i id="flechedem" class="fa-solid fa-angle-right"></i>
              </a>
	          </li>
            <li>
              <a routerLink="/listeDemandesStagiaire" >
                <i class="fa-solid fa-id-badge" routerLinkActive="actif"></i>  Mes ordonnances
                <i id="flechelstdem" class="fa-solid fa-angle-right"></i>
              </a>
	          </li>
	        </ul>
	      </div>
    	</nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">
      </div>
		</div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
