<script type="text/javascript" src="assets/js/mdb.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" routerLink="/accueil">
        <img id="logo" src="assets/image/logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul>
          <li>         
            <a style="color:darkslateblue" class="nav-link" routerLink="/medicaments">Consulter Liste Medicaments</a>     
          </li>     
          <li>         
            <a style="color:darkslateblue" class="nav-link" routerLink="/ordonnance">Ajouter Ordonnance</a>     
          </li>     
          <li>         
            <a style="color:darkslateblue" class="nav-link" routerLink="/home">Contact</a>     
          </li> 
       </ul>

        <ul class="navbar-nav profil">
          <li class="nav-item">
            <div > <a class="nav-link">
              <img id="photoStg" width="150"></a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row fa">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" id="facebook">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" id="twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" id="gmail" >
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>


